<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/thoughts/add" class="btn">Add thought</a>
    </div>
    <h3>Your thoughts</h3>
    {{#if empty}}
        <p>You haven't registered any thoughts in the system yet.</p>
    {{else}}
        <ul>
        {{#each thoughts}}
            <li>
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a href="/thoughts/edit/{{this.id}}" class="btn">Edit</a>
                    <form action="/thoughts/delete" method="post">
                        <input type="hidden" name="id" id="id" value="{{this.id}}" />
                        <input type="hidden" name="UserId" id="UserId" value="{{this.UserId}}" />
                        <button type="submit" class="btn">Delete</button>
                    </form>
                </span>
            </li>
        {{/each}}
        </ul>
    {{/if}}
</div>